{% extends "base.html" %}

{% block content %}
      <style type="text/css">
           #content {
            top: 82px; /* Расстояние от верхнего края */
            left: 170px; /* Расстояние от левого края */
            bottom: 0; right: 0;
           }
      </style>
    <h3 class="text-center" class="top-50%">Регистрация прошла успешно</h3><br>
    <div id="content">
        <a class="btn btn-primary" class="display-flex" class="justify-content-center" href="/sign_in" role="button">Войти в систему</a>
    </div>
{% endblock %}

