{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Библиотека</h1>
<div class="row g-0 bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
        <img src="static/img/o.jpg" class="w-100" class="h-200"
             alt="здесь должна была быть картинка, но не нашлась" width="200" height="500">
    </div>
    <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">Что-то о нас</h5>
        <p>Наша небольшая электронная библиотека предоставляет возможность чтения книги онлайн бесплатно полностью
            (текст целиком).</p>
    </div>
</div>
{% for i in books %}
<div class="row">
    <div class="col-sm-4">
        <br>
        <div class="card" style="width: 18rem;">-->
                  <img src="{{url_for('static', filename=i.photo_path)}}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text"></p>
                    <a href="/more/{{ i.id }}" class="btn btn-primary">Подробнее</a>
                    <form method="post" action="/like/{{i.id}}">
                        {% if i.id in book_liked_ids %}
                            <input type="submit" class="btn btn-primary" value="♥"/>
                        {% else %}
                            <input type="submit" class="btn btn-primary" value="♡"/>
                        {% endif %}
                    </form>
                     <p>{{i.authors}}</p>
                  </div>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
</div>
{% endblock %}
