{% extends "base.html" %}

{% block content %}
    <div class="row g-0 bg-light position-relative">
      <div class="col-md-6 mb-md-0 p-md-4">
        <img src="{{url_for('static', filename=photo)}}" class="w-100" class="h-200"
             alt="здесь должна была быть картинка, но не нашлась" width="200" height="500">
      </div>
      <div class="col-md-6 p-4 ps-md-0">
        <h5 class="mt-0">{{ title }}</h5>
        <p>{{ size }}</p>
        <p>{{ authors }}</p>
      </div>
    </div>
{% endblock %}